.playing .playing-container {
  display: grid;
  grid-template-columns: auto auto;
  margin-block-start: 2rem;
}

.playing-container__score-text {
  align-self: end;
  font-size: 2rem;
}

.playing-container__hearts {
  display: flex;
  justify-self: end;
}

.playing-container__canvas {
  grid-column: 1/3;
  width: 100%;
}

.playing-container__addition-text {
  grid-column: 1/3;
  text-align: center;
  font-size: 2.3rem;
}
