:root {
  --background-color: #156635;
  --background-color-darker: #104f29;
  --text-color: #fff;
}

/* display */
.hidden {
  display: none;
}

.loading .display-loading {
  display: block;
}

.playing .display-playing {
  display: block;
}

.instructions .display-instructions {
  display: block;
}

.end .display-end {
  display: block;
}

body {
  background-color: var(--background-color);
  font-family: "Caveat", cursive;
  color: var(--text-color);
  font-weight: 400;
  padding: 0.3em;
}

.container {
  max-inline-size: 640px;
  margin: auto;
}

.title {
  grid-column: 1/3;
  text-align: center;
  font-size: 3rem;
  margin-block-end: 0.4em;
}
